<%- include ('header') -%>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet provident impedit eveniet optio itaque iste animi dolor repellendus. Consectetur, sequi? Incidunt quo et perferendis, harum aspernatur voluptates ut. Amet, ipsam.</p>

<%- include ('footer') -%>
